<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nsFaceIDUsageDescription</key>
	<string>This app uses Face ID to provide secure authentication for accessing the QR code scanner.</string>
	<key>SupabaseURL</key>
	<string>https://ofeayvavciwdzlyfdtqk.supabase.co</string>
	<key>SupabaseKey</key>
	<string>sb_publishable_m3zLMhSn_HBSjsiClxklVA_ZJi-v9IH</string>
</dict>
</plist>
